{{#each bodyweights as |bodyweight|}}
    <tr id="{{bodyweight.id}}-bodyweights">
        <td>{{parseDateForDisplay bodyweight.date}}</td>
        <td>{{bodyweight.weight}}</td>
        <td>{{bodyweight.notes}}</td>
    </tr>
{{/each}}