@import '~bootstrap/scss/bootstrap';

body {
    background-color: #f1f1f1;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-content {
    color: #000000;
}

.chart-container, .bodyweight-chart-container {
    position: relative;
    width: 95%;
}

.chart-container:before, .bodyweight-chart-container:before {
    content: "";
    display: block;
    padding-top: 60%;
}

.chart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}